a {
  @include hover-focus {
    outline: none;
  }
}


.btn {
  @include border-radius(0);
  font-size: 14px;
  line-height: 1;
  font-weight: 500;
  padding: 18px 42px;
  @include animation(all, $transition-time);
  color: inherit;

  @include hover-focus {
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
}

.btn-main {
  background: $color-main;
  border-radius: 55px;
  color: #fff;
  font-family: $font-heading;

  @include hover-focus {
    opacity: .8;
    color: #fff;
  }
}

.btn-borderless {
  color: #000;
}

.btn-print-icon {
  position: relative;
  padding-left: 48px;
  @include hover-focus {
    color: $color-main;
  }

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    @include transform(translateY(-50%));
    width: 32px;
    height: 27px;
    background-image: url('../img/print-icon.png');
    background-size: contain;
    background-repeat: no-repeat;
  }
}

#scroll-down {
  position: fixed;
  bottom: 60px;
  left: 50%;
  @include transform(translateX(-50%));
  color: #fff;
  font-size: 10px;
  text-transform: uppercase;
  @include hover-focus {
    text-decoration: none;
  }
  @include animation(all, 0.4s);
  opacity: 0;

  &:after {
    content: '';
    animation: bounce 4s infinite;
    position: absolute;
    width: 12px;
    height: 12px;
    border: 3px solid $color-main;
    border-top: none;
    border-right: none;
    top: 15px;
    left: 50%;
    margin-left: -4px;
    opacity: 0;
  }

  &.visible {
    opacity: 1;
    bottom: 80px;

    &:after {
      opacity: 1;
    }
  }
}


@-moz-keyframes bounce {
  0%, 50%, 100% {
    -moz-transform: translateY(0) rotate(-45deg);
    transform: translateY(0) rotate(-45deg);
  }
  25% {
    -moz-transform: translateY(15px) rotate(-35deg);
    transform: translateY(15px);
  }
  75% {
    -moz-transform: translateY(18px) rotate(-55deg);
    transform: translateY(18px) rotate(-55deg);
  }
}
@-webkit-keyframes bounce {
  0%, 50%, 100% {
    -webkit-transform: translateY(0) rotate(-45deg);
    transform: translateY(0) rotate(-45deg);
  }
  25% {
    -webkit-transform: translateY(15px) rotate(-35deg);
    transform: translateY(15px) rotate(-35deg);
  }
  75% {
    -webkit-transform: translateY(18px) rotate(-55deg);
    transform: translateY(18px) rotate(-55deg);
  }
}
@keyframes bounce {
  0%, 50%, 100% {
    -moz-transform: translateY(0) rotate(-45deg);
    -ms-transform: translateY(0) rotate(-45deg);
    -webkit-transform: translateY(0) rotate(-45deg);
    transform: translateY(0) rotate(-45deg);
  }
  25% {
    -moz-transform: translateY(15px) rotate(-35deg);
    -ms-transform: translateY(15px) rotate(-35deg);
    -webkit-transform: translateY(15px) rotate(-35deg);
    transform: translateY(15px) rotate(-35deg);
  }
  70% {
    -moz-transform: translateY(18px) rotate(-55deg);
    -ms-transform: translateY(18px) rotate(-55deg);
    -webkit-transform: translateY(18px) rotate(-55deg);
    transform: translateY(18px) rotate(-55deg);
  }
}
