.feature-entry {
  font-family: $font-heading;
  margin-top: 30px;

  p {
    font-size: 16px;
    margin-top: 0;
    font-weight: 100;
  }

  .fe-big {
    font-size: 40px;
    font-weight: 600;
    line-height: 40px;
    margin-bottom: 0;
    margin-top: 0;
  }


  &.text-white {
    .fe-big {
      font-weight: 500;
    }
  }
}