.form-blue {
  font-family: $font-heading;
  font-weight: 400;
  color: #fff;
  .form-inline {
    font-size: 0;
    margin-right: -4px;
    margin-left: -4px;

    .form-group {
      width: 100%;
      padding: 4px;
      margin: 0;
    }

    &.two-inputs {
      .form-group {
        width: 50%;
        @media (max-width: 767px) {
          width: 100%;
        }
      }
    }
  }
  .form-control {
    border-radius: 0;
    border: none;
    background: #233548;
    color: #fff;
    width: 100%;
    font-size: 14px;
    min-height:44px;
    border-bottom: 2px solid #233548;
    padding: 15px 20px 13px 20px;

    @include placeholder {
      color: #fff;
    }

    &:focus {
      outline: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      border-color: $color-main;
    }

    &.text-area {
      width: 100%;
      line-height: 1.4;
    }
  }

  .btn-main {
    margin-top: 20px;
    min-width: 160px;
  }
}

.custom-placeholder {
  position: relative;

  .form-control {
    @include animation(all, $transition-time);
  }

  .form-control:focus + .placeholder {
    display: none;
  }

  .placeholder {
    display: block;
    position: absolute;
    top:0;
    left: 4px;
    color: #fff;
    cursor: auto;
    z-index: 1;
    font-size: 14px;
    min-height:44px;
    padding: 15px 20px 13px 20px;
    box-sizing: border-box;

    .required-text {
      opacity: 0.4;
      font-weight: 300;
    }
  }

  &.has-error {
    overflow: hidden;

    .form-control:focus + .placeholder + .error-message {
      display: none;
    }

    .placeholder {
      display: none;
    }

    .form-control {
      border-color: #FF0000;
    }

    .error-message {
      display: block;
      position: absolute;
      top:4px;
      left: 4px;
      color: #FF0000;
      cursor: auto;
      z-index: 1;
      font-size: 14px;
      min-height:40px;
      padding: 12px 20px 13px 20px;
      box-sizing: border-box;
      overflow: hidden;
      max-height: 40px;
    }
  }
}


@media screen and (-webkit-min-device-pixel-ratio:0) {
  select,
  textarea,
  input,
  .form-control{
    font-size: 16px!important;
  }

  select:focus,
  textarea:focus,
  input:focus,
  .form-control:focus {
    font-size: 16px!important;
  }
}

.success-tu{
  color: #FFFFFF;
  display: none;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}