.unstyled-list-wrapper{
  > ul,
  > ol {
    list-style: none;
  }
}

.list-pills {
  display: block;

  > li {
    //display: flex;
    //flex-grow: 1;
    display: inline-block;
    margin: 8px 20px 8px 0;

    > a {
      display: inline-block;
      font-family: $font-heading;
      font-size: 14px;
      font-weight: 600;
      padding: 20px 40px;
      border-radius: 54px;
      background: #fff;
      color: #747474;
      text-decoration: none;

      @include animation(all, $transition-time);
      
      @include hover-focus {
        background: $color-main;
        color: #fff;
      }
    }

    &.active {
      > a {
        background: $color-main;
        color: #fff;
      }
    }
  }
}

@media (max-width: 992px) {
  .list-pills {
    > li {
      margin: 4px 8px 4px 0;
    }
  }
}

@media (max-width: 767px) {
  .list-pills {
    > li {
      margin: 4px 4px 4px 0;

      > a {
        padding: 10px 30px;
      }
    }
  }
}


.list-person-details {
  list-style: none;
  font-family: $font-heading;
  line-height: 1.3;

  > li > a {
    @include animation(all, $transition-time);
    text-decoration: none;
    @include hover-focus {
      color: $color-main;
    }
  }


  .lp-position {
    color: #303030;
    font-size: 16px;
    font-weight: 800;
  }

  .lp-name {
    font-size: 15px;
    color: $color-main;
    margin-bottom: 20px;
  }

  .lp-phone > a {
    font-size: 20px;
    color: #000;
  }

  .lp-email > a {
    font-size: 15px;
    color: #919191;
  }
}


.list-underlined {
  list-style: none;

  > li {
    font-size: 14px;
    padding-top: 22px;
    padding-bottom: 16px;
    border-bottom: 1px solid #dedede;

    b {
      font-size: 17px;
    }
  }
}

.list-check {
  line-height: 250%;
  font-weight: 100;
  font-size: 15px;
  list-style: none;
  padding: 0;
  margin: 0;
  padding-bottom: 40px;
  li {
    padding-left: 30px;
  }
  li:before {
    content: "\f00c";
    color: $color-main;
    font-family: FontAwesome;
    display: inline-block;
    margin-left: -30px;
    width: 30px;
  }
}

.list-document {
  line-height: 250%;
  font-weight: 100;
  font-size: 15px;
  list-style: none;
  padding: 0;
  margin: 0;
  padding-bottom: 40px;
  li {
    padding-left: 30px;
    a {
      color: #fff;
      @include animation(all, $transition-time);
      @include hover-focus {
        color: $color-main;
        background: none;
      }
    }
    a:hover {
      text-decoration: none;
    }
  }
  li:before {
    content: "\f0f6";
    color: $color-main;
    font-family: FontAwesome;
    display: inline-block;
    margin-left: -30px;
    width: 30px;
  }
}


.list-lined {
  list-style: none;
  font-size: 14px;
  margin: 0;
  font-family: $font-heading;
  > li {
    font-weight: 300;
    padding: 6px 0;

    > b {
      padding-left: 92px;
      position: relative;
      font-weight: 500;
      float: right;

      &:before {
        content: '';
        height: 2px;
        width: 60px;
        background: $color-main;
        position: absolute;
        left: 14px;
        top: 50%;
        @include transform(translateY(-50%));
      }
    }
  }

  &.dis-table {
    display: table;
    width: 100%;
  }

  .tb-row {
    display: table-row;
    width: 100%;
    padding: 0;

    > span {
      display: table-cell;
      padding: 6px 0;

      &:last-of-type {
        text-align:right;
      }

      &:first-of-type {
        > .cell-concat {
          max-width: 96px;
          text-overflow: ellipsis;
          display: inline-block;
          white-space: nowrap;
          overflow: hidden;
        }
      }

      &.line {
        width: 50px;
        position: relative;

        &:before {
          content: '';
          height: 2px;
          width: 40px;
          background: $color-main;
          position: absolute;
          left: 4px;
          top: 16px;
          max-width: 80%;
        }
      }
    }
  }
}
