.map-wrapper {
  position: relative;
  overflow: hidden;

  #map {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    @include transform(translate(-50%,-50%));
  }
}

@media (min-width: 1024px) {
  .map-wrapper {
    height: 95vh;
    //width: 90%;

    #map {
      height: calc(95vh + 50px);
    }
  }
}

@media (min-width: 550px) and (max-width: 1023px) {
  .map-wrapper {
    height: 600px;
    //width: 100%;
    #map {
      height: 650px;
    }
  }
}

.si-float-wrapper {
  .si-wrapper-top {
    @include transform(translate(0%,-100%));
  }
  .si-content-wrapper {
    border-radius: 0;
    border: none;
    color: #fff;
    background: #000;
    overflow: visible;
    padding: 30px 23px;
    max-height: 190px;

    &:after {
      content: "";
      display: inline-block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 20px 20px 0 0;
      border-color: #000000 transparent transparent transparent;
      position: absolute;
      bottom: -20px;
      left:0;
    }

    .si-content {
      //width: 500px!important;
      overflow-x: hidden;
      overflow-y: auto;
      > .row {
        width: 250px!important;
        &.wide-tooltip{
          width: 450px!important;
        }
      }
      .scroller-wrapper {
        overflow-x: hidden;
        max-height: 160px;
        overflow-y: auto;
      }
    }

    .popup-header {
      margin: 0 0 20px 0;
      font-size: 16px;
      font-weight: 500;
    }
  }

  .si-pointer-border-top {
    display: none;
  }

  .si-pointer-bg-top {
    display: none;
  }

  .si-close-button {
    top: 10px;
    right: 12px;
    font-family: $font-heading;
    font-weight: 100;
    opacity: 1;
  }

}