.modal-custom {
  .modal-content {
    border-radius: 0;
    border: none;
    padding: 25px 20px;
    font-family: $font-heading;
  }

  .modal-header,
  .modal-body,
  .modal-footer {
    border: none;
    padding: 10px 15px;
  }

  .modal-title {
    font-size: 30px;
  }

  .modal-body {
    padding-top: 0;
  }

  .modal-subheader {
    font-size: 20px;
    margin-top: 40px;
  }

  .close {
    opacity: 1;
    position: absolute;
    top: 22px;
    right: 30px;

    span {
      color: $color-main;
      font-size: 45px;
      font-weight: 400;
    }
  }

  .modal-footer {
    text-align: left;
  }
}

#routesModal {
  .modal-dialog {
    max-width: 800px;
  }

  .row {
    margin-left: -5px;
    margin-right: -5px;
    > div {
      padding-left: 5px;
      padding-right: 5px;
    }
  }
}