.select2 {
  .select-gray {
    border-radius: 0;
    background: #dedede;
    color: #000;
    min-height: 48px;
    border: none;

    .select2-selection__rendered {
      min-height: 48px;
      line-height: 48px;
      padding-left: 14px;
    }

    .select2-selection__arrow {
      height: 100%;
      margin-right: 8px;

      b {
        border-color: $color-main transparent transparent transparent!important;
      }
    }
  }

  &.select2-container--open {
    .select2-selection__arrow {
      b {
        border-color: transparent transparent $color-main transparent!important;
      }
    }
  }
}

.select2-container--open .select2-dropdown {
  border-radius: 0;
  border-color: #dedede;
  .select2-search__field {
    border-color: #dedede;
  }

  .select2-results {
    .select2-results__options {
      .select2-results__option.select2-results__option--highlighted {
        background: $color-main;
      }
    }
  }
}

