.tabs-pilled-nav {
  .tabs-nav {
    margin-bottom: 20px;
  }

  .tab-content {
    .tab-pane {
      padding: 20px 0;

      > .row {
        > div {
          margin-top: 40px;
        }
      }
    }
  }

  .header-3 {
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 5px;
  }
}

