.tb {
  font-family: $font-main;
  font-size: 16px;
  line-height: 1.4;
  font-weight: 400;


  &.text-white {
    font-weight: 300;
  }
}


.tb-header-underlined {
  .header-underlined {
    font-size: 20px;
    padding-bottom: 15px;
    display: inline-block;
    width: auto;
    border-bottom: 3px solid $color-main;
    margin-bottom: 35px;
  }

  p {
    font-size: 16px;
  }
  
  @media (min-width: 768px) {
    padding-right: 50px;
  }
  
}


.tb-big-text {
  list-style: none;
  font-family: $font-heading;
  font-size: 15px;
  margin-bottom: 10px;
  font-weight: 300;

  p {
    margin: 0;
    font-weight: 300;
  }

  a {
    color: inherit;
    text-decoration: none;
    @include animation(all, $transition-time);
    @include hover-focus {
      color: $color-main;
    }
  }

  > .big {
    font-size: 20px;
    font-weight: 600;
  }

  &.text-white {
    > .big {
      font-weight: 500;
    }
  }

  p + ul {
    margin-top: 10px;
  }
}