

#second-page-VH{
  @media (min-width: 992px) {
    height: 100vh;
  }
}
.sizer-wrapper {
  display: block;
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  padding-right: 40px;

  @media (max-width: 767px) {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.sizer-wrapper-sm-full {
  display: block;
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  padding-right: 40px;

  @media (max-width: 767px) {
    padding-left: 0;
    padding-right: 0;
  }
}

.section-padded {
  padding-top: 100px;
  padding-bottom: 100px;

  @media (max-width: 767px) {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}


.mt-20 {
  margin-top: 20px!important;
}


.mt-40 {
  margin-top: 40px!important;
}