.main-footer {
  padding-top: 30px;
  padding-bottom: 25px;
  .footer-nav {
    .nav {
      margin-left: -15px;
      margin-bottom: 25px;
      > li > a {
        font-size: 13px;
        color: #000;
        padding: 15px;
        @include animation(all, $transition-time);
        font-family: $font-heading;
        font-weight: 500;
        
        @include hover-focus {
          color: $color-main;
          background: none;
        }

        .valign {
          display: inline-block;
          vertical-align: middle;
        }

        .fa {
          margin-left: 5px;
          font-size: 16px;
          display: inline-block;
          vertical-align: middle;
        }
      }
    }

    @media (min-width: 768px) and (max-width: 1023px) {
      .nav {
        margin-left: -10px;
        margin-bottom: 15px;
        > li > a {
          padding: 10px;
        }
      }
    }

    @media (max-width: 767px) {
      .nav {
        margin: 0px;
        margin-bottom: 10px;
        text-align: center;

        > li {
          display: inline-block;
          > a {
            padding: 4px 8px;
          }
        }
      }
    }
  }

  .legal-line {
    font-family: $font-main;
    font-size: 12px;
    margin-bottom: 0;
  }

  .signature-wrapper {
    text-align: right;

    .signature {
      font-family: $font-main;
      font-size: 12px;
      margin-bottom: 0;
      vertical-align: middle;
      display: inline-block;
      line-height: 13px;
    }

    .signature-img {
      height: 12px;
      width: auto;
      display: inline-block;
      vertical-align: middle;
      margin-left: 4px;
      @include animation(all, $transition-time);
    }

    a {
      display: inline-block;
      @include hover-focus {
        .signature-img {
          opacity: 0.8;
        }
      }
    }
  }

  @media (max-width: 767px) {
    .legal-line {
      text-align: center;
    }

    .signature-wrapper {
      text-align: center;
    }
  }
}

.main-footer.care {
  background-color: #1f1f1f;
  color: #fff;
  font-weight: 300;
  .footer-nav > .nav > li > a {
    color: #fff;
    @include animation(all, $transition-time);
    font-family: $font-heading;
    font-weight: 500;
    
    @include hover-focus {
      color: $color-main;
      background: none;
    }
  }
}