#intro {
    padding-top: 40px;
    margin: 0 auto;
    .wrapper {
        padding-top: 50px;
        padding-left: 30px;
        @media (min-width: 991px) {
            padding-top: 110px;
            padding-left: 50px;
        }
    }
    h1 {
        font-family: $font-heading;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 40px;
        color: #fff;
        max-width: 320px; 
    }
    .img-md {
        width: 276px;
        height: 91px;
        margin-left: 60px;
        margin-bottom: 60px;
        @media (max-width: 991px) {
            display: none;
        }
    }
    .img-sm {
        width: 184px;
        height: 61px;
        display: block;
        margin: 0 auto;
        @media (min-width: 992px) {
            display: none;
        }
    }
    .logistic-page {
        height: 350px;
        margin-top: 20px;
        @media (min-width: 991px) {
            height: 640px;
            margin-top: 0;
        }
    }

    .care-page {
        height: 350px;
        margin-top: 20px;
        @media (min-width: 991px) {
            height: 450px;
            margin-top: 0;
        }
    }
    a.enter-site {
        background-color: $color-main;
        color: #fff;
        text-transform: uppercase;
        font-family: $font-heading;
        font-size: 13px;
        padding: 17px 40px;
        border-radius: 25px;
        @include hover-focus {
            opacity: .8;
            color: #fff;
            text-decoration: none;
        }
    }
}