.navbar.navbar-custom {
  border-radius: 0;
  border: none;
  font-family: $font-heading;
  font-size: 14px;
  background-color: transparent;
  z-index: 1000;
  left: 0;

  @include animation(all, $transition-time);

  .navbar-brand {
    height: 53px;
    padding:0;
    .brand-img {
      height: 53px;
      display: none;
    }

    .brand-img-white {
      display: block;
    }
  }

  .navbar-nav > li {

    > a {
      color: #fff;
      font-size: 14px;
      font-weight: 400;
      line-height: 14px;
      padding: 16px 22px;

      @include animation(all, $transition-time);

      &:not(.btn) {
        &:hover,
        &:focus {
          color: $color-main;
        }
      }

      &.btn {
        padding: 14px 40px;
        border-radius: 52px;
        margin-left: 20px;
      }
    }

    &.active {
      > a {
        background: none;
      }

      &:not(:last-of-type) {
        > a {
          color: $color-main!important;
        }
      }
    }
  }

  .navbar-right {
    padding: 0 15px;

    > li {
      margin: 2px 0;
      a {

      }

      &:last-of-type {

        a {
          border: 2px solid $color-main;
          @include animation(color background, $transition-time);
          &:hover,
          &:focus {
            background: $color-main;
            color: #fff;
          }
        }
      }
    }
  }

  .btn {
    font-weight: 600;
  }

  &.affix {
    background: #fff;
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    padding-top: 18px;
    padding-bottom: 18px;
    width: 100%;
    background: #fff;
    -webkit-box-shadow: 0px 2px 19px -2px rgba(184,184,184,0.6);
    -moz-box-shadow: 0px 2px 19px -2px rgba(184,184,184,0.6);
    box-shadow: 0px 2px 19px -2px rgba(184,184,184,0.6);

    .navbar-brand {
      .brand-img {
        display: block;
      }

      .brand-img-white {
        display: none;
      }
    }

    .navbar-right {
      > li {
        a {
          color: #000;
          font-weight: 500;
        }

        &:last-of-type {

          a {
            border: 2px solid $color-main;
            @include animation(color background, $transition-time);
            &:hover,
            &:focus {
              background: $color-main;
              color: #fff;
            }
          }
        }
      }
    }
  }
}


@media (min-width: $collapsed-not-min) {
  .navbar.navbar-custom {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 0 0 32px;

    .navbar-brand {
      margin-right: 30px;
    }

    .nav.navbar-right {
      padding: 0 15px;

      li {
        margin-right: 10px;

        &:last-of-type {
          margin-right: 0;
        }

        //.btn {
        //  margin-right: 10px;
        //}
      }

      .dropdown {
        margin-right: 20px;
        .dropdown-toggle {
          padding-right: 0;
        }
      }
    }
  }
}


.navbar-custom {
  .container-fluid {
    max-width: 1500px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .navbar-toggle {
    position: absolute;
    top: 5px;
    left: 20px;
    border-radius: 0;
    border: none;
    background: none;
    padding-left: 5px;
    -webkit-transition: all $transition-time;
    -moz-transition: all $transition-time;
    -ms-transition: all $transition-time;
    -o-transition: all $transition-time;
    transition: all $transition-time;
    z-index: 2;

    &:focus,
    &:hover {
      background: none;
    }

    .icon-bar {
      width: 20px;
      height: 3px;
      border-radius: 6px;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      background: #fff;

      //-webkit-transition: all $transition-time;
      //-moz-transition: all $transition-time;
      //-ms-transition: all $transition-time;
      //-o-transition: all $transition-time;
      //transition: all $transition-time;

      &:nth-child(2) {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        //margin: 0;
      }

      &:nth-child(4) {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        //margin: 0;
      }

      &:nth-child(3) {
        display: block;
      }
    }

    &:not(.collapsed) {
      left: 270px;

      .icon-bar {
        background: #fff;

        &:nth-child(2) {
          -webkit-transform: rotate(45deg);
          -moz-transform: rotate(45deg);
          -o-transform: rotate(45deg);
          transform: rotate(45deg);
          -webkit-transform-origin: 50% 50%;
          -moz-transform-origin: 50% 50%;
          -ms-transform-origin: 50% 50%;
          -o-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
          margin-top: 5px;
        }
        &:nth-child(4) {
          -webkit-transform: rotate(-45deg);
          -moz-transform: rotate(-45deg);
          -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
          margin-top: -3px;
        }

        &:nth-child(3) {
          display: none;
        }
      }
    }
  }

  &.affix {
    .navbar-toggle {
      .icon-bar {
        background: $color-main;
      }

      &:not(.collapsed) {
        .icon-bar {
          background: #fff;
        }
      }
    }
  }
}

.affix-top,
.affix{
  position: static;
}

.sidebar-affixed.affix-top {
  position: static;
}

.sidebar-affixed.affix-bottom {
  position: relative;
}

.sidebar-affixed.affix {
  position: fixed;
  top:100px;
}


@media (max-width: 1249px) {
  .navbar.navbar-custom {
    position: fixed;
    text-align: center;
    padding: 0!important;
    top: 0;

    .navbar-header {
      height: 60px;
      .navbar-brand {
        height: 60px;
        padding: 12px 10px 10px 10px;
        position: absolute;
        left: 50%;
        @include transform(translateX(-50%));

        .brand-img {
          max-height: 100%;

          .brand-img {
            display: inline-block;

            &.brand-img-white {
              display: none;
            }
          }
        }
      }
    }

    .navbar-nav.nav {
      height: auto;
      margin: 0;
      margin-top: 20px;
      margin-bottom: 16px;
    }

    &.navbar-transparent:not('.affix') {
      .navbar-header {
        .navbar-brand {
          .brand-img {
            display: none;

            &.brand-img-white {
              display: inline-block;
            }
          }
        }
      }
    }
  }

  .navbar {
    width: 100%;
    &.affix {
      top: 0;
      //margin: 0;
      padding-top: 0;
      padding-bottom: 0;
      width: 100%;
      background: #fff;
      //border-color: #F44336;
      //margin: 0;

    }
    //&.affix a {
    //  color: $color-main !important;
    //  font-weight: 300;
    //  -webkit-transition: all .5s ease-in-out;
    //  transition: all .5s ease-in-out;
    //}
    //&.affix-top a {
    //  padding: 25px !important;
    //}
    //&.affix + .container-fluid {
    //  padding-top: 95px;
    //}
  }

  .navbar-collapse.collapse {
    -webkit-transition: all $transition-time;
    -moz-transition: all $transition-time;
    -ms-transition: all $transition-time;
    -o-transition: all $transition-time;
    transition: all $transition-time;
    z-index: 2;
  }

  .navbar-collapse.collapse {
    display: block;
    position: absolute;
    top: 0;
    left:-260px;
    width: 260px;
    background-color: #fff;
    height: 100vh!important;

    .navbar-nav > li > a {
      color: #999999;
      font-size: 15px;
      font-weight: 300;

      &:hover,
      &:focus {
        color: $color-main;
      }

      .navbar-nav > li.active {
        a {
          color: $color-main;
        }
      }
    }

    .btn {
      font-weight: 600;
      margin-bottom: 10px;
    }

    .btn.btn-white.btn-filled {
      color: #fff;
      font-weight: 100;
      padding: 14px 32px;
      background: $color-main;

      &:hover,
      &:focus {
        background: darken($color-main, 6%);
      }
    }

    .btn.btn-outlined.btn-white {
      border-color: #bbbbc8;
      color: $color-main;
      &:hover,
      &:focus {
        background: #bbbbc8;
        color: #fff;
        font-weight: 100;
      }
    }
  }


  .navbar-collapse.collapsing {
    -webkit-transition: all 0.05s;
    -moz-transition: all 0.05s;
    -ms-transition: all 0.05s;
    -o-transition: all 0.05s;
    transition: all 0.05s;
    display: block;
    position: absolute;
    top: 0;
    left:-130px;
    width: 260px;
    background-color: #fff;
    height: 100vh!important;
  }

  .navbar-collapse.collapse.in {
    -webkit-transition: all $transition-time;
    -moz-transition: all $transition-time;
    -ms-transition: all $transition-time;
    -o-transition: all $transition-time;
    transition: all $transition-time;
    display: block;
    position: absolute;
    top: 0;
    left:0;
    width: 260px;
    background-color: #fff;
    height: 100vh;
    margin-left: 0;

    .btn {
      margin-bottom: 10px;
    }
  }

  .nav-backdrop {
    display: none;
    width: 100%;
    height: 100vh;
    position: absolute;
    top:0;
    left: 0;
    background: rgba(0,0,0,0.5);
    z-index: 1;
    -webkit-transition: background $transition-time;
    -moz-transition: background $transition-time;
    -ms-transition: background $transition-time;
    -o-transition: background $transition-time;
    transition: background $transition-time;
  }

  .navbar-collapse.collapsing,
  .navbar-collapse.collapse.in {
    .navbar-nav > li {
      > a {
        color: #000;
        font-size: 15px;
        font-weight: 400;

        &:hover,
        &:focus {
          color: $color-main;
        }
      }

      &.active {
        a {
          color: $color-main!important;
        }
      }
    }

    .btn {
      font-weight: 600;
      margin-bottom: 10px;
    }

    .btn.btn-white.btn-filled {
      color: #fff;
      font-weight: 100;
      padding: 14px 32px;
      background: $color-main;

      &:hover,
      &:focus {
        background: darken($color-main, 6%);
      }
    }

    .btn.btn-outlined.btn-white {
      border-color: #bbbbc8;
      color: $color-main;
      &:hover,
      &:focus {
        background: #bbbbc8;
        color: #fff;
        font-weight: 100;
      }
    }

    .dropdown {
      margin-bottom: 20px;
      border-top: 1px solid #efefef;
      border-bottom: 1px solid #efefef;
    }

    & ~ .nav-backdrop {
      display: block;
    }
  }


  .navbar.navbar-custom {
    .navbar-nav {
      float: none!important;
      width: 100%;
      //padding: 0;

      > li {
        display: block;
        float: none;
        width: 100%;

        .fa {
          padding-right: 8px;
        }
      }

      &.navbar-right {
        margin: 20px 0 0 0;
      }

      .btn.btn-rounded {
        margin: 0;
      }
    }
  }


  //.navbar-collapse.collapse {
  //  display: none !important;
  //}
  //.navbar-collapse.collapse.in {
  //  display: block !important;
  //}
  .navbar-header .collapse, .navbar-toggle {
    display:block !important;
  }
  .navbar-header {
    float:none;
  }

  .navbar.navbar-custom .dropdown.open .dropdown-menu {
    border-radius: 6px;
    border: 5px solid #fff;
    padding: 0;
    position: relative;
    float: none;
    box-shadow: none;
  }

}

.sidebar-affixed.affix {
  position: fixed;
  top:60px;
  padding-top: 40px;
}



@media (min-width: 768px) and (max-width: 1249px) {
  .navbar.navbar-default.navbar-transparent {
    .navbar-toggle {
      top: 26px;
      left: 35px;
    }

    &.affix {
      .navbar-toggle {
        top: 5px;
        left: 20px;
      }
    }
  }
}