#home {
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
  padding-bottom: 80px;
  .content-wrapper {
    position: relative;
    z-index: 10;
  }

  .home-content {
    margin-top: 90px;
  }

  .header-1 {
    margin-top: 25%;
    margin-bottom: 0;
    > .text-care {
      text-transform: uppercase;
    }
  }

  .map-wrapper {
    //@media (min-width: 1024px) {
    //  position: absolute;
    //  right:-180px;
    //  top:0;
    //  max-width: 1600px;
    //  @include transform(scale(0.9));
    //}

    
    @media (max-width: 767px) {
      display: none;
    }
  }

}

#pradzia {
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;

  .content-wrapper {
    position: relative;
    z-index: 10;
  }

  .home-content {
    margin-top: 90px;
  }

  .header-1 {
    margin-top: 25%;
    margin-bottom: 0;
    > .text-care {
      text-transform: uppercase;
    }
  }

  .map-wrapper {
    //@media (min-width: 1024px) {
    //  position: absolute;
    //  right:-180px;
    //  top:0;
    //  max-width: 1600px;
    //  @include transform(scale(0.9));
    //}

    
    @media (max-width: 767px) {
      display: none;
    }
  }

  .certificate-wrapper {
    text-align: left;
    margin-bottom: 40px;

    .certificate {
      font-family: $font-main;
      font-size: 15px;
      font-weight: 600;
      width: 180px;
      text-transform: uppercase;
      vertical-align: middle;
      display: inline-block;
      line-height: 24px;
      margin-left: 20px;
      margin-bottom: 10px;
      @media (max-width: 767px) {
        margin-left: 0px;
        width: 140px;
      }
    }

    .certificate-img {
      height: 155px;
      width: auto;
      display: inline-block;
      vertical-align: middle;
      margin-left: 40px;
      @media (max-width: 767px) {
        margin-left: 0;
      }
    }
  }
}

#prieziura {
  background-color: #fff;
  .row {
    margin: 0;
    padding: 0;
  }
  .col-md-6 {
    padding: 0;
  }
  .list-table {
    background-color: #333;
    padding: 30px 40px;
    min-height: 490px;
    @media (max-width: 991px) {
      margin-top: 20px;
    }
  }
}

#branches .list-person-details {
  margin-bottom: 40px;
}


#kontaktai {
  .tb-big-text + .tb-big-text {
    margin-top: 40px;
  }
  
  .tel-red {
    color: $color-main;
    font-size: 30px;
    font-weight: bold;
  }

  .caption-red {
    text-transform: uppercase;
    color: $color-main;
    font-size: 14px;
    font-weight: bold;
  }

  .list-care-contacts {
    color: #fff;
    font-size: 13px;
    font-weight: 300;
  }

  .container-fluid > .row {
    > .col-sm-12 + .col-sm-12 {
      @media (max-width: 991px) {
        margin-top: 60px;
      }
    }
  }
}

#contacts {
  .tb-big-text + .tb-big-text {
    margin-top: 40px;
  }

  .container-fluid > .row {
    > .col-sm-12 + .col-sm-12 {
      @media (max-width: 991px) {
        margin-top: 60px;
      }
    }
  }
}

@media (max-width: 767px) {
  #home {
    min-height: 0;

    .feature-entry {
      width: 50%;
      float: left;
    }
  }
}


@media (max-width: 767px) {
  #pradzia {
    min-height: 0;

    .feature-entry {
      width: 50%;
      float: left;
    }
  }
}