@import url("https://fonts.googleapis.com/css?family=Montserrat:100,300,500,700,800&subset=latin-ext");
* {
  margin: 0;
  padding: 0; }

body {
  background: #fff; }

img {
  border: 0; }

a img, a:visited img {
  border: none; }

:focus {
  outline: 0; }

button {
  background: none; }

body {
  font-family: "Open Sans", sans-serif; }

h1 {
  font-weight: 700;
  font-family: "Montserrat", sans-serif; }
  h1.text-white {
    font-weight: 500; }

h2 {
  font-weight: 700;
  font-family: "Montserrat", sans-serif; }
  h2.text-white {
    font-weight: 500; }

h3 {
  font-weight: 700;
  font-family: "Montserrat", sans-serif; }
  h3.text-white {
    font-weight: 500; }

h4 {
  font-weight: 700;
  font-family: "Montserrat", sans-serif; }
  h4.text-white {
    font-weight: 500; }

h5 {
  font-weight: 700;
  font-family: "Montserrat", sans-serif; }
  h5.text-white {
    font-weight: 500; }

h6 {
  font-weight: 700;
  font-family: "Montserrat", sans-serif; }
  h6.text-white {
    font-weight: 500; }

.text-white h1 {
  font-weight: 500; }

.text-white h2 {
  font-weight: 500; }

.text-white h3 {
  font-weight: 500; }

.text-white h4 {
  font-weight: 500; }

.text-white h5 {
  font-weight: 500; }

.text-white h6 {
  font-weight: 500; }

h1,
.header-1 {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 60px; }
  h1.text-white,
  .header-1.text-white {
    font-weight: 500; }
  h1.text-uppercase,
  .header-1.text-uppercase {
    text-transform: uppercase; }
  h1.main,
  .header-1.main {
    font-size: 50px;
    line-height: 120%; }
    @media (max-width: 767px) {
      h1.main.main,
      .header-1.main.main {
        font-size: 36px; } }
  h1 span,
  .header-1 span {
    font-weight: 100; }

h2,
.header-2 {
  font-size: 30px;
  margin-bottom: 40px;
  padding-top: 60px;
  margin-top: 0; }
  h2.text-white,
  .header-2.text-white {
    font-weight: 500; }
  h2.text-uppercase,
  .header-2.text-uppercase {
    text-transform: uppercase; }
  h2.text-underline,
  .header-2.text-underline {
    padding-bottom: 20px;
    border-bottom: 2px solid #c95c00; }
  h2 span,
  .header-2 span {
    font-weight: 100; }

h3,
.header-3 {
  font-size: 15px; }
  h3.text-white,
  .header-3.text-white {
    font-weight: 500; }

.big-text {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600; }

.text-white {
  color: #fff !important; }

.unstyled-list-wrapper > ul,
.unstyled-list-wrapper > ol {
  list-style: none; }

.list-pills {
  display: block; }
  .list-pills > li {
    display: inline-block;
    margin: 8px 20px 8px 0; }
    .list-pills > li > a {
      display: inline-block;
      font-family: "Montserrat", sans-serif;
      font-size: 14px;
      font-weight: 600;
      padding: 20px 40px;
      border-radius: 54px;
      background: #fff;
      color: #747474;
      text-decoration: none;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s; }
      .list-pills > li > a:hover, .list-pills > li > a:focus, .list-pills > li > a:hover:active {
        background: #c95c00;
        color: #fff; }
    .list-pills > li.active > a {
      background: #c95c00;
      color: #fff; }

@media (max-width: 992px) {
  .list-pills > li {
    margin: 4px 8px 4px 0; } }

@media (max-width: 767px) {
  .list-pills > li {
    margin: 4px 4px 4px 0; }
    .list-pills > li > a {
      padding: 10px 30px; } }

.list-person-details {
  list-style: none;
  font-family: "Montserrat", sans-serif;
  line-height: 1.3; }
  .list-person-details > li > a {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    text-decoration: none; }
    .list-person-details > li > a:hover, .list-person-details > li > a:focus, .list-person-details > li > a:hover:active {
      color: #c95c00; }
  .list-person-details .lp-position {
    color: #303030;
    font-size: 16px;
    font-weight: 800; }
  .list-person-details .lp-name {
    font-size: 15px;
    color: #c95c00;
    margin-bottom: 20px; }
  .list-person-details .lp-phone > a {
    font-size: 20px;
    color: #000; }
  .list-person-details .lp-email > a {
    font-size: 15px;
    color: #919191; }

.list-underlined {
  list-style: none; }
  .list-underlined > li {
    font-size: 14px;
    padding-top: 22px;
    padding-bottom: 16px;
    border-bottom: 1px solid #dedede; }
    .list-underlined > li b {
      font-size: 17px; }

.list-check {
  line-height: 250%;
  font-weight: 100;
  font-size: 15px;
  list-style: none;
  padding: 0;
  margin: 0;
  padding-bottom: 40px; }
  .list-check li {
    padding-left: 30px; }
  .list-check li:before {
    content: "\f00c";
    color: #c95c00;
    font-family: FontAwesome;
    display: inline-block;
    margin-left: -30px;
    width: 30px; }

.list-document {
  line-height: 250%;
  font-weight: 100;
  font-size: 15px;
  list-style: none;
  padding: 0;
  margin: 0;
  padding-bottom: 40px; }
  .list-document li {
    padding-left: 30px; }
    .list-document li a {
      color: #fff;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s; }
      .list-document li a:hover, .list-document li a:focus, .list-document li a:hover:active {
        color: #c95c00;
        background: none; }
    .list-document li a:hover {
      text-decoration: none; }
  .list-document li:before {
    content: "\f0f6";
    color: #c95c00;
    font-family: FontAwesome;
    display: inline-block;
    margin-left: -30px;
    width: 30px; }

.list-lined {
  list-style: none;
  font-size: 14px;
  margin: 0;
  font-family: "Montserrat", sans-serif; }
  .list-lined > li {
    font-weight: 300;
    padding: 6px 0; }
    .list-lined > li > b {
      padding-left: 92px;
      position: relative;
      font-weight: 500;
      float: right; }
      .list-lined > li > b:before {
        content: '';
        height: 2px;
        width: 60px;
        background: #c95c00;
        position: absolute;
        left: 14px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%); }
  .list-lined.dis-table {
    display: table;
    width: 100%; }
  .list-lined .tb-row {
    display: table-row;
    width: 100%;
    padding: 0; }
    .list-lined .tb-row > span {
      display: table-cell;
      padding: 6px 0; }
      .list-lined .tb-row > span:last-of-type {
        text-align: right; }
      .list-lined .tb-row > span:first-of-type > .cell-concat {
        max-width: 96px;
        text-overflow: ellipsis;
        display: inline-block;
        white-space: nowrap;
        overflow: hidden; }
      .list-lined .tb-row > span.line {
        width: 50px;
        position: relative; }
        .list-lined .tb-row > span.line:before {
          content: '';
          height: 2px;
          width: 40px;
          background: #c95c00;
          position: absolute;
          left: 4px;
          top: 16px;
          max-width: 80%; }

.feature-entry {
  font-family: "Montserrat", sans-serif;
  margin-top: 30px; }
  .feature-entry p {
    font-size: 16px;
    margin-top: 0;
    font-weight: 100; }
  .feature-entry .fe-big {
    font-size: 40px;
    font-weight: 600;
    line-height: 40px;
    margin-bottom: 0;
    margin-top: 0; }
  .feature-entry.text-white .fe-big {
    font-weight: 500; }

.tb {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.4;
  font-weight: 400; }
  .tb.text-white {
    font-weight: 300; }

.tb-header-underlined .header-underlined {
  font-size: 20px;
  padding-bottom: 15px;
  display: inline-block;
  width: auto;
  border-bottom: 3px solid #c95c00;
  margin-bottom: 35px; }

.tb-header-underlined p {
  font-size: 16px; }

@media (min-width: 768px) {
  .tb-header-underlined {
    padding-right: 50px; } }

.tb-big-text {
  list-style: none;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  margin-bottom: 10px;
  font-weight: 300; }
  .tb-big-text p {
    margin: 0;
    font-weight: 300; }
  .tb-big-text a {
    color: inherit;
    text-decoration: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
    .tb-big-text a:hover, .tb-big-text a:focus, .tb-big-text a:hover:active {
      color: #c95c00; }
  .tb-big-text > .big {
    font-size: 20px;
    font-weight: 600; }
  .tb-big-text.text-white > .big {
    font-weight: 500; }
  .tb-big-text p + ul {
    margin-top: 10px; }

a:hover, a:focus, a:hover:active {
  outline: none; }

.btn {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  font-size: 14px;
  line-height: 1;
  font-weight: 500;
  padding: 18px 42px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  color: inherit; }
  .btn:hover, .btn:focus, .btn:hover:active {
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }

.btn-main {
  background: #c95c00;
  border-radius: 55px;
  color: #fff;
  font-family: "Montserrat", sans-serif; }
  .btn-main:hover, .btn-main:focus, .btn-main:hover:active {
    opacity: .8;
    color: #fff; }

.btn-borderless {
  color: #000; }

.btn-print-icon {
  position: relative;
  padding-left: 48px; }
  .btn-print-icon:hover, .btn-print-icon:focus, .btn-print-icon:hover:active {
    color: #c95c00; }
  .btn-print-icon:before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 32px;
    height: 27px;
    background-image: url("../img/print-icon.png");
    background-size: contain;
    background-repeat: no-repeat; }

#scroll-down {
  position: fixed;
  bottom: 60px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  color: #fff;
  font-size: 10px;
  text-transform: uppercase;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  opacity: 0; }
  #scroll-down:hover, #scroll-down:focus, #scroll-down:hover:active {
    text-decoration: none; }
  #scroll-down:after {
    content: '';
    animation: bounce 4s infinite;
    position: absolute;
    width: 12px;
    height: 12px;
    border: 3px solid #c95c00;
    border-top: none;
    border-right: none;
    top: 15px;
    left: 50%;
    margin-left: -4px;
    opacity: 0; }
  #scroll-down.visible {
    opacity: 1;
    bottom: 80px; }
    #scroll-down.visible:after {
      opacity: 1; }

@-moz-keyframes bounce {
  0%, 50%, 100% {
    -moz-transform: translateY(0) rotate(-45deg);
    transform: translateY(0) rotate(-45deg); }
  25% {
    -moz-transform: translateY(15px) rotate(-35deg);
    transform: translateY(15px); }
  75% {
    -moz-transform: translateY(18px) rotate(-55deg);
    transform: translateY(18px) rotate(-55deg); } }

@-webkit-keyframes bounce {
  0%, 50%, 100% {
    -webkit-transform: translateY(0) rotate(-45deg);
    transform: translateY(0) rotate(-45deg); }
  25% {
    -webkit-transform: translateY(15px) rotate(-35deg);
    transform: translateY(15px) rotate(-35deg); }
  75% {
    -webkit-transform: translateY(18px) rotate(-55deg);
    transform: translateY(18px) rotate(-55deg); } }

@keyframes bounce {
  0%, 50%, 100% {
    -moz-transform: translateY(0) rotate(-45deg);
    -ms-transform: translateY(0) rotate(-45deg);
    -webkit-transform: translateY(0) rotate(-45deg);
    transform: translateY(0) rotate(-45deg); }
  25% {
    -moz-transform: translateY(15px) rotate(-35deg);
    -ms-transform: translateY(15px) rotate(-35deg);
    -webkit-transform: translateY(15px) rotate(-35deg);
    transform: translateY(15px) rotate(-35deg); }
  70% {
    -moz-transform: translateY(18px) rotate(-55deg);
    -ms-transform: translateY(18px) rotate(-55deg);
    -webkit-transform: translateY(18px) rotate(-55deg);
    transform: translateY(18px) rotate(-55deg); } }

.modal-custom .modal-content {
  border-radius: 0;
  border: none;
  padding: 25px 20px;
  font-family: "Montserrat", sans-serif; }

.modal-custom .modal-header,
.modal-custom .modal-body,
.modal-custom .modal-footer {
  border: none;
  padding: 10px 15px; }

.modal-custom .modal-title {
  font-size: 30px; }

.modal-custom .modal-body {
  padding-top: 0; }

.modal-custom .modal-subheader {
  font-size: 20px;
  margin-top: 40px; }

.modal-custom .close {
  opacity: 1;
  position: absolute;
  top: 22px;
  right: 30px; }
  .modal-custom .close span {
    color: #c95c00;
    font-size: 45px;
    font-weight: 400; }

.modal-custom .modal-footer {
  text-align: left; }

#routesModal .modal-dialog {
  max-width: 800px; }

#routesModal .row {
  margin-left: -5px;
  margin-right: -5px; }
  #routesModal .row > div {
    padding-left: 5px;
    padding-right: 5px; }

.form-blue {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #fff; }
  .form-blue .form-inline {
    font-size: 0;
    margin-right: -4px;
    margin-left: -4px; }
    .form-blue .form-inline .form-group {
      width: 100%;
      padding: 4px;
      margin: 0; }
    .form-blue .form-inline.two-inputs .form-group {
      width: 50%; }
      @media (max-width: 767px) {
        .form-blue .form-inline.two-inputs .form-group {
          width: 100%; } }
  .form-blue .form-control {
    border-radius: 0;
    border: none;
    background: #233548;
    color: #fff;
    width: 100%;
    font-size: 14px;
    min-height: 44px;
    border-bottom: 2px solid #233548;
    padding: 15px 20px 13px 20px; }
    .form-blue .form-control::-webkit-input-placeholder {
      color: #fff; }
    .form-blue .form-control:-moz-placeholder {
      color: #fff; }
    .form-blue .form-control::-moz-placeholder {
      color: #fff; }
    .form-blue .form-control:-ms-input-placeholder {
      color: #fff; }
    .form-blue .form-control:focus {
      outline: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      border-color: #c95c00; }
    .form-blue .form-control.text-area {
      width: 100%;
      line-height: 1.4; }
  .form-blue .btn-main {
    margin-top: 20px;
    min-width: 160px; }

.custom-placeholder {
  position: relative; }
  .custom-placeholder .form-control {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
  .custom-placeholder .form-control:focus + .placeholder {
    display: none; }
  .custom-placeholder .placeholder {
    display: block;
    position: absolute;
    top: 0;
    left: 4px;
    color: #fff;
    cursor: auto;
    z-index: 1;
    font-size: 14px;
    min-height: 44px;
    padding: 15px 20px 13px 20px;
    box-sizing: border-box; }
    .custom-placeholder .placeholder .required-text {
      opacity: 0.4;
      font-weight: 300; }
  .custom-placeholder.has-error {
    overflow: hidden; }
    .custom-placeholder.has-error .form-control:focus + .placeholder + .error-message {
      display: none; }
    .custom-placeholder.has-error .placeholder {
      display: none; }
    .custom-placeholder.has-error .form-control {
      border-color: #FF0000; }
    .custom-placeholder.has-error .error-message {
      display: block;
      position: absolute;
      top: 4px;
      left: 4px;
      color: #FF0000;
      cursor: auto;
      z-index: 1;
      font-size: 14px;
      min-height: 40px;
      padding: 12px 20px 13px 20px;
      box-sizing: border-box;
      overflow: hidden;
      max-height: 40px; }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  select,
  textarea,
  input,
  .form-control {
    font-size: 16px !important; }
  select:focus,
  textarea:focus,
  input:focus,
  .form-control:focus {
    font-size: 16px !important; } }

.success-tu {
  color: #FFFFFF;
  display: none;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  font-size: 20px; }

.select2 .select-gray {
  border-radius: 0;
  background: #dedede;
  color: #000;
  min-height: 48px;
  border: none; }
  .select2 .select-gray .select2-selection__rendered {
    min-height: 48px;
    line-height: 48px;
    padding-left: 14px; }
  .select2 .select-gray .select2-selection__arrow {
    height: 100%;
    margin-right: 8px; }
    .select2 .select-gray .select2-selection__arrow b {
      border-color: #c95c00 transparent transparent transparent !important; }

.select2.select2-container--open .select2-selection__arrow b {
  border-color: transparent transparent #c95c00 transparent !important; }

.select2-container--open .select2-dropdown {
  border-radius: 0;
  border-color: #dedede; }
  .select2-container--open .select2-dropdown .select2-search__field {
    border-color: #dedede; }
  .select2-container--open .select2-dropdown .select2-results .select2-results__options .select2-results__option.select2-results__option--highlighted {
    background: #c95c00; }

.map-wrapper {
  position: relative;
  overflow: hidden; }
  .map-wrapper #map {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }

@media (min-width: 1024px) {
  .map-wrapper {
    height: 95vh; }
    .map-wrapper #map {
      height: calc(95vh + 50px); } }

@media (min-width: 550px) and (max-width: 1023px) {
  .map-wrapper {
    height: 600px; }
    .map-wrapper #map {
      height: 650px; } }

.si-float-wrapper .si-wrapper-top {
  -webkit-transform: translate(0%, -100%);
  -moz-transform: translate(0%, -100%);
  -ms-transform: translate(0%, -100%);
  -o-transform: translate(0%, -100%);
  transform: translate(0%, -100%); }

.si-float-wrapper .si-content-wrapper {
  border-radius: 0;
  border: none;
  color: #fff;
  background: #000;
  overflow: visible;
  padding: 30px 23px;
  max-height: 190px; }
  .si-float-wrapper .si-content-wrapper:after {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 20px 0 0;
    border-color: #000000 transparent transparent transparent;
    position: absolute;
    bottom: -20px;
    left: 0; }
  .si-float-wrapper .si-content-wrapper .si-content {
    overflow-x: hidden;
    overflow-y: auto; }
    .si-float-wrapper .si-content-wrapper .si-content > .row {
      width: 250px !important; }
      .si-float-wrapper .si-content-wrapper .si-content > .row.wide-tooltip {
        width: 450px !important; }
    .si-float-wrapper .si-content-wrapper .si-content .scroller-wrapper {
      overflow-x: hidden;
      max-height: 160px;
      overflow-y: auto; }
  .si-float-wrapper .si-content-wrapper .popup-header {
    margin: 0 0 20px 0;
    font-size: 16px;
    font-weight: 500; }

.si-float-wrapper .si-pointer-border-top {
  display: none; }

.si-float-wrapper .si-pointer-bg-top {
  display: none; }

.si-float-wrapper .si-close-button {
  top: 10px;
  right: 12px;
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  opacity: 1; }

.tabs-pilled-nav .tabs-nav {
  margin-bottom: 20px; }

.tabs-pilled-nav .tab-content .tab-pane {
  padding: 20px 0; }
  .tabs-pilled-nav .tab-content .tab-pane > .row > div {
    margin-top: 40px; }

.tabs-pilled-nav .header-3 {
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 5px; }

@media print {
  .close {
    display: none; }
  #print_graphic {
    display: none; }
  .select2-selection__arrow {
    display: none; } }

.mCustomScrollBox .mCSB_container {
  margin-right: 20px; }

.mCustomScrollBox .mCSB_dragger_bar {
  margin-right: 0; }

@media (min-width: 992px) {
  #second-page-VH {
    height: 100vh; } }

.sizer-wrapper {
  display: block;
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  padding-right: 40px; }
  @media (max-width: 767px) {
    .sizer-wrapper {
      padding-left: 10px;
      padding-right: 10px; } }

.sizer-wrapper-sm-full {
  display: block;
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  padding-right: 40px; }
  @media (max-width: 767px) {
    .sizer-wrapper-sm-full {
      padding-left: 0;
      padding-right: 0; } }

.section-padded {
  padding-top: 100px;
  padding-bottom: 100px; }
  @media (max-width: 767px) {
    .section-padded {
      padding-top: 70px;
      padding-bottom: 70px; } }

.mt-20 {
  margin-top: 20px !important; }

.mt-40 {
  margin-top: 40px !important; }

.navbar.navbar-custom {
  border-radius: 0;
  border: none;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  background-color: transparent;
  z-index: 1000;
  left: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }
  .navbar.navbar-custom .navbar-brand {
    height: 53px;
    padding: 0; }
    .navbar.navbar-custom .navbar-brand .brand-img {
      height: 53px;
      display: none; }
    .navbar.navbar-custom .navbar-brand .brand-img-white {
      display: block; }
  .navbar.navbar-custom .navbar-nav > li > a {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    padding: 16px 22px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
    .navbar.navbar-custom .navbar-nav > li > a:not(.btn):hover, .navbar.navbar-custom .navbar-nav > li > a:not(.btn):focus {
      color: #c95c00; }
    .navbar.navbar-custom .navbar-nav > li > a.btn {
      padding: 14px 40px;
      border-radius: 52px;
      margin-left: 20px; }
  .navbar.navbar-custom .navbar-nav > li.active > a {
    background: none; }
  .navbar.navbar-custom .navbar-nav > li.active:not(:last-of-type) > a {
    color: #c95c00 !important; }
  .navbar.navbar-custom .navbar-right {
    padding: 0 15px; }
    .navbar.navbar-custom .navbar-right > li {
      margin: 2px 0; }
      .navbar.navbar-custom .navbar-right > li:last-of-type a {
        border: 2px solid #c95c00;
        -webkit-transition: color background 0.3s;
        -moz-transition: color background 0.3s;
        -ms-transition: color background 0.3s;
        -o-transition: color background 0.3s;
        transition: color background 0.3s; }
        .navbar.navbar-custom .navbar-right > li:last-of-type a:hover, .navbar.navbar-custom .navbar-right > li:last-of-type a:focus {
          background: #c95c00;
          color: #fff; }
  .navbar.navbar-custom .btn {
    font-weight: 600; }
  .navbar.navbar-custom.affix {
    background: #fff;
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    padding-top: 18px;
    padding-bottom: 18px;
    width: 100%;
    background: #fff;
    -webkit-box-shadow: 0px 2px 19px -2px rgba(184, 184, 184, 0.6);
    -moz-box-shadow: 0px 2px 19px -2px rgba(184, 184, 184, 0.6);
    box-shadow: 0px 2px 19px -2px rgba(184, 184, 184, 0.6); }
    .navbar.navbar-custom.affix .navbar-brand .brand-img {
      display: block; }
    .navbar.navbar-custom.affix .navbar-brand .brand-img-white {
      display: none; }
    .navbar.navbar-custom.affix .navbar-right > li a {
      color: #000;
      font-weight: 500; }
    .navbar.navbar-custom.affix .navbar-right > li:last-of-type a {
      border: 2px solid #c95c00;
      -webkit-transition: color background 0.3s;
      -moz-transition: color background 0.3s;
      -ms-transition: color background 0.3s;
      -o-transition: color background 0.3s;
      transition: color background 0.3s; }
      .navbar.navbar-custom.affix .navbar-right > li:last-of-type a:hover, .navbar.navbar-custom.affix .navbar-right > li:last-of-type a:focus {
        background: #c95c00;
        color: #fff; }

@media (min-width: 768px) {
  .navbar.navbar-custom {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 0 0 32px; }
    .navbar.navbar-custom .navbar-brand {
      margin-right: 30px; }
    .navbar.navbar-custom .nav.navbar-right {
      padding: 0 15px; }
      .navbar.navbar-custom .nav.navbar-right li {
        margin-right: 10px; }
        .navbar.navbar-custom .nav.navbar-right li:last-of-type {
          margin-right: 0; }
      .navbar.navbar-custom .nav.navbar-right .dropdown {
        margin-right: 20px; }
        .navbar.navbar-custom .nav.navbar-right .dropdown .dropdown-toggle {
          padding-right: 0; } }

.navbar-custom .container-fluid {
  max-width: 1500px;
  padding-left: 40px;
  padding-right: 40px; }

.navbar-custom .navbar-toggle {
  position: absolute;
  top: 5px;
  left: 20px;
  border-radius: 0;
  border: none;
  background: none;
  padding-left: 5px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  z-index: 2; }
  .navbar-custom .navbar-toggle:focus, .navbar-custom .navbar-toggle:hover {
    background: none; }
  .navbar-custom .navbar-toggle .icon-bar {
    width: 20px;
    height: 3px;
    border-radius: 6px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    background: #fff; }
    .navbar-custom .navbar-toggle .icon-bar:nth-child(2) {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg); }
    .navbar-custom .navbar-toggle .icon-bar:nth-child(4) {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg); }
    .navbar-custom .navbar-toggle .icon-bar:nth-child(3) {
      display: block; }
  .navbar-custom .navbar-toggle:not(.collapsed) {
    left: 270px; }
    .navbar-custom .navbar-toggle:not(.collapsed) .icon-bar {
      background: #fff; }
      .navbar-custom .navbar-toggle:not(.collapsed) .icon-bar:nth-child(2) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        -webkit-transform-origin: 50% 50%;
        -moz-transform-origin: 50% 50%;
        -ms-transform-origin: 50% 50%;
        -o-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        margin-top: 5px; }
      .navbar-custom .navbar-toggle:not(.collapsed) .icon-bar:nth-child(4) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        margin-top: -3px; }
      .navbar-custom .navbar-toggle:not(.collapsed) .icon-bar:nth-child(3) {
        display: none; }

.navbar-custom.affix .navbar-toggle .icon-bar {
  background: #c95c00; }

.navbar-custom.affix .navbar-toggle:not(.collapsed) .icon-bar {
  background: #fff; }

.affix-top,
.affix {
  position: static; }

.sidebar-affixed.affix-top {
  position: static; }

.sidebar-affixed.affix-bottom {
  position: relative; }

.sidebar-affixed.affix {
  position: fixed;
  top: 100px; }

@media (max-width: 1249px) {
  .navbar.navbar-custom {
    position: fixed;
    text-align: center;
    padding: 0 !important;
    top: 0; }
    .navbar.navbar-custom .navbar-header {
      height: 60px; }
      .navbar.navbar-custom .navbar-header .navbar-brand {
        height: 60px;
        padding: 12px 10px 10px 10px;
        position: absolute;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%); }
        .navbar.navbar-custom .navbar-header .navbar-brand .brand-img {
          max-height: 100%; }
          .navbar.navbar-custom .navbar-header .navbar-brand .brand-img .brand-img {
            display: inline-block; }
            .navbar.navbar-custom .navbar-header .navbar-brand .brand-img .brand-img.brand-img-white {
              display: none; }
    .navbar.navbar-custom .navbar-nav.nav {
      height: auto;
      margin: 0;
      margin-top: 20px;
      margin-bottom: 16px; }
    .navbar.navbar-custom.navbar-transparent:not('.affix') .navbar-header .navbar-brand .brand-img {
      display: none; }
      .navbar.navbar-custom.navbar-transparent:not('.affix') .navbar-header .navbar-brand .brand-img.brand-img-white {
        display: inline-block; }
  .navbar {
    width: 100%; }
    .navbar.affix {
      top: 0;
      padding-top: 0;
      padding-bottom: 0;
      width: 100%;
      background: #fff; }
  .navbar-collapse.collapse {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    z-index: 2; }
  .navbar-collapse.collapse {
    display: block;
    position: absolute;
    top: 0;
    left: -260px;
    width: 260px;
    background-color: #fff;
    height: 100vh !important; }
    .navbar-collapse.collapse .navbar-nav > li > a {
      color: #999999;
      font-size: 15px;
      font-weight: 300; }
      .navbar-collapse.collapse .navbar-nav > li > a:hover, .navbar-collapse.collapse .navbar-nav > li > a:focus {
        color: #c95c00; }
      .navbar-collapse.collapse .navbar-nav > li > a .navbar-nav > li.active a {
        color: #c95c00; }
    .navbar-collapse.collapse .btn {
      font-weight: 600;
      margin-bottom: 10px; }
    .navbar-collapse.collapse .btn.btn-white.btn-filled {
      color: #fff;
      font-weight: 100;
      padding: 14px 32px;
      background: #c95c00; }
      .navbar-collapse.collapse .btn.btn-white.btn-filled:hover, .navbar-collapse.collapse .btn.btn-white.btn-filled:focus {
        background: #aa4e00; }
    .navbar-collapse.collapse .btn.btn-outlined.btn-white {
      border-color: #bbbbc8;
      color: #c95c00; }
      .navbar-collapse.collapse .btn.btn-outlined.btn-white:hover, .navbar-collapse.collapse .btn.btn-outlined.btn-white:focus {
        background: #bbbbc8;
        color: #fff;
        font-weight: 100; }
  .navbar-collapse.collapsing {
    -webkit-transition: all 0.05s;
    -moz-transition: all 0.05s;
    -ms-transition: all 0.05s;
    -o-transition: all 0.05s;
    transition: all 0.05s;
    display: block;
    position: absolute;
    top: 0;
    left: -130px;
    width: 260px;
    background-color: #fff;
    height: 100vh !important; }
  .navbar-collapse.collapse.in {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 260px;
    background-color: #fff;
    height: 100vh;
    margin-left: 0; }
    .navbar-collapse.collapse.in .btn {
      margin-bottom: 10px; }
  .nav-backdrop {
    display: none;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
    -webkit-transition: background 0.3s;
    -moz-transition: background 0.3s;
    -ms-transition: background 0.3s;
    -o-transition: background 0.3s;
    transition: background 0.3s; }
  .navbar-collapse.collapsing .navbar-nav > li > a,
  .navbar-collapse.collapse.in .navbar-nav > li > a {
    color: #000;
    font-size: 15px;
    font-weight: 400; }
    .navbar-collapse.collapsing .navbar-nav > li > a:hover, .navbar-collapse.collapsing .navbar-nav > li > a:focus,
    .navbar-collapse.collapse.in .navbar-nav > li > a:hover,
    .navbar-collapse.collapse.in .navbar-nav > li > a:focus {
      color: #c95c00; }
  .navbar-collapse.collapsing .navbar-nav > li.active a,
  .navbar-collapse.collapse.in .navbar-nav > li.active a {
    color: #c95c00 !important; }
  .navbar-collapse.collapsing .btn,
  .navbar-collapse.collapse.in .btn {
    font-weight: 600;
    margin-bottom: 10px; }
  .navbar-collapse.collapsing .btn.btn-white.btn-filled,
  .navbar-collapse.collapse.in .btn.btn-white.btn-filled {
    color: #fff;
    font-weight: 100;
    padding: 14px 32px;
    background: #c95c00; }
    .navbar-collapse.collapsing .btn.btn-white.btn-filled:hover, .navbar-collapse.collapsing .btn.btn-white.btn-filled:focus,
    .navbar-collapse.collapse.in .btn.btn-white.btn-filled:hover,
    .navbar-collapse.collapse.in .btn.btn-white.btn-filled:focus {
      background: #aa4e00; }
  .navbar-collapse.collapsing .btn.btn-outlined.btn-white,
  .navbar-collapse.collapse.in .btn.btn-outlined.btn-white {
    border-color: #bbbbc8;
    color: #c95c00; }
    .navbar-collapse.collapsing .btn.btn-outlined.btn-white:hover, .navbar-collapse.collapsing .btn.btn-outlined.btn-white:focus,
    .navbar-collapse.collapse.in .btn.btn-outlined.btn-white:hover,
    .navbar-collapse.collapse.in .btn.btn-outlined.btn-white:focus {
      background: #bbbbc8;
      color: #fff;
      font-weight: 100; }
  .navbar-collapse.collapsing .dropdown,
  .navbar-collapse.collapse.in .dropdown {
    margin-bottom: 20px;
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef; }
  .navbar-collapse.collapsing ~ .nav-backdrop,
  .navbar-collapse.collapse.in ~ .nav-backdrop {
    display: block; }
  .navbar.navbar-custom .navbar-nav {
    float: none !important;
    width: 100%; }
    .navbar.navbar-custom .navbar-nav > li {
      display: block;
      float: none;
      width: 100%; }
      .navbar.navbar-custom .navbar-nav > li .fa {
        padding-right: 8px; }
    .navbar.navbar-custom .navbar-nav.navbar-right {
      margin: 20px 0 0 0; }
    .navbar.navbar-custom .navbar-nav .btn.btn-rounded {
      margin: 0; }
  .navbar-header .collapse, .navbar-toggle {
    display: block !important; }
  .navbar-header {
    float: none; }
  .navbar.navbar-custom .dropdown.open .dropdown-menu {
    border-radius: 6px;
    border: 5px solid #fff;
    padding: 0;
    position: relative;
    float: none;
    box-shadow: none; } }

.sidebar-affixed.affix {
  position: fixed;
  top: 60px;
  padding-top: 40px; }

@media (min-width: 768px) and (max-width: 1249px) {
  .navbar.navbar-default.navbar-transparent .navbar-toggle {
    top: 26px;
    left: 35px; }
  .navbar.navbar-default.navbar-transparent.affix .navbar-toggle {
    top: 5px;
    left: 20px; } }

.background-img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.background-grey {
  background: #eaeaea; }

.background-blue {
  background: #304863; }

#home {
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
  padding-bottom: 80px; }
  #home .content-wrapper {
    position: relative;
    z-index: 10; }
  #home .home-content {
    margin-top: 90px; }
  #home .header-1 {
    margin-top: 25%;
    margin-bottom: 0; }
    #home .header-1 > .text-care {
      text-transform: uppercase; }
  @media (max-width: 767px) {
    #home .map-wrapper {
      display: none; } }

#pradzia {
  min-height: 100vh;
  position: relative;
  overflow-x: hidden; }
  #pradzia .content-wrapper {
    position: relative;
    z-index: 10; }
  #pradzia .home-content {
    margin-top: 90px; }
  #pradzia .header-1 {
    margin-top: 25%;
    margin-bottom: 0; }
    #pradzia .header-1 > .text-care {
      text-transform: uppercase; }
  @media (max-width: 767px) {
    #pradzia .map-wrapper {
      display: none; } }
  #pradzia .certificate-wrapper {
    text-align: left;
    margin-bottom: 40px; }
    #pradzia .certificate-wrapper .certificate {
      font-family: "Open Sans", sans-serif;
      font-size: 15px;
      font-weight: 600;
      width: 180px;
      text-transform: uppercase;
      vertical-align: middle;
      display: inline-block;
      line-height: 24px;
      margin-left: 20px;
      margin-bottom: 10px; }
      @media (max-width: 767px) {
        #pradzia .certificate-wrapper .certificate {
          margin-left: 0px;
          width: 140px; } }
    #pradzia .certificate-wrapper .certificate-img {
      height: 155px;
      width: auto;
      display: inline-block;
      vertical-align: middle;
      margin-left: 40px; }
      @media (max-width: 767px) {
        #pradzia .certificate-wrapper .certificate-img {
          margin-left: 0; } }

#prieziura {
  background-color: #fff; }
  #prieziura .row {
    margin: 0;
    padding: 0; }
  #prieziura .col-md-6 {
    padding: 0; }
  #prieziura .list-table {
    background-color: #333;
    padding: 0 40px;
    min-height: 490px; }
    @media (max-width: 991px) {
      #prieziura .list-table {
        margin-top: 20px; } }

#branches .list-person-details {
  margin-bottom: 40px; }

#kontaktai .tb-big-text + .tb-big-text {
  margin-top: 40px; }

#kontaktai .tel-red {
  color: #c95c00;
  font-size: 30px;
  font-weight: bold; }

#kontaktai .caption-red {
  text-transform: uppercase;
  color: #c95c00;
  font-size: 14px;
  font-weight: bold; }

#kontaktai .list-care-contacts {
  color: #fff;
  font-size: 13px;
  font-weight: 300; }

@media (max-width: 991px) {
  #kontaktai .container-fluid > .row > .col-sm-12 + .col-sm-12 {
    margin-top: 60px; } }

#contacts .tb-big-text + .tb-big-text {
  margin-top: 40px; }

@media (max-width: 991px) {
  #contacts .container-fluid > .row > .col-sm-12 + .col-sm-12 {
    margin-top: 60px; } }

@media (max-width: 767px) {
  #home {
    min-height: 0; }
    #home .feature-entry {
      width: 50%;
      float: left; } }

@media (max-width: 767px) {
  #pradzia {
    min-height: 0; }
    #pradzia .feature-entry {
      width: 50%;
      float: left; } }

#intro {
  padding-top: 40px;
  margin: 0 auto; }
  #intro .wrapper {
    padding-top: 50px;
    padding-left: 30px; }
    @media (min-width: 991px) {
      #intro .wrapper {
        padding-top: 110px;
        padding-left: 50px; } }
  #intro h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 40px;
    color: #fff;
    max-width: 320px; }
  #intro .img-md {
    width: 276px;
    height: 91px;
    margin-left: 60px;
    margin-bottom: 60px; }
    @media (max-width: 991px) {
      #intro .img-md {
        display: none; } }
  #intro .img-sm {
    width: 184px;
    height: 61px;
    display: block;
    margin: 0 auto; }
    @media (min-width: 992px) {
      #intro .img-sm {
        display: none; } }
  #intro .logistic-page {
    height: 350px;
    margin-top: 20px; }
    @media (min-width: 991px) {
      #intro .logistic-page {
        height: 640px;
        margin-top: 0; } }
  #intro .care-page {
    height: 350px;
    margin-top: 20px; }
    @media (min-width: 991px) {
      #intro .care-page {
        height: 450px;
        margin-top: 0; } }
  #intro a.enter-site {
    background-color: #c95c00;
    color: #fff;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    padding: 17px 40px;
    border-radius: 25px; }
    #intro a.enter-site:hover, #intro a.enter-site:focus, #intro a.enter-site:hover:active {
      opacity: .8;
      color: #fff;
      text-decoration: none; }

.main-footer {
  padding-top: 30px;
  padding-bottom: 25px; }
  .main-footer .footer-nav .nav {
    margin-left: -15px;
    margin-bottom: 25px; }
    .main-footer .footer-nav .nav > li > a {
      font-size: 13px;
      color: #000;
      padding: 15px;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
      font-family: "Montserrat", sans-serif;
      font-weight: 500; }
      .main-footer .footer-nav .nav > li > a:hover, .main-footer .footer-nav .nav > li > a:focus, .main-footer .footer-nav .nav > li > a:hover:active {
        color: #c95c00;
        background: none; }
      .main-footer .footer-nav .nav > li > a .valign {
        display: inline-block;
        vertical-align: middle; }
      .main-footer .footer-nav .nav > li > a .fa {
        margin-left: 5px;
        font-size: 16px;
        display: inline-block;
        vertical-align: middle; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .main-footer .footer-nav .nav {
      margin-left: -10px;
      margin-bottom: 15px; }
      .main-footer .footer-nav .nav > li > a {
        padding: 10px; } }
  @media (max-width: 767px) {
    .main-footer .footer-nav .nav {
      margin: 0px;
      margin-bottom: 10px;
      text-align: center; }
      .main-footer .footer-nav .nav > li {
        display: inline-block; }
        .main-footer .footer-nav .nav > li > a {
          padding: 4px 8px; } }
  .main-footer .legal-line {
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    margin-bottom: 0; }
  .main-footer .signature-wrapper {
    text-align: right; }
    .main-footer .signature-wrapper .signature {
      font-family: "Open Sans", sans-serif;
      font-size: 12px;
      margin-bottom: 0;
      vertical-align: middle;
      display: inline-block;
      line-height: 13px; }
    .main-footer .signature-wrapper .signature-img {
      height: 12px;
      width: auto;
      display: inline-block;
      vertical-align: middle;
      margin-left: 4px;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s; }
    .main-footer .signature-wrapper a {
      display: inline-block; }
      .main-footer .signature-wrapper a:hover .signature-img, .main-footer .signature-wrapper a:focus .signature-img, .main-footer .signature-wrapper a:hover:active .signature-img {
        opacity: 0.8; }
  @media (max-width: 767px) {
    .main-footer .legal-line {
      text-align: center; }
    .main-footer .signature-wrapper {
      text-align: center; } }

.main-footer.care {
  background-color: #1f1f1f;
  color: #fff;
  font-weight: 300; }
  .main-footer.care .footer-nav > .nav > li > a {
    color: #fff;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    font-family: "Montserrat", sans-serif;
    font-weight: 500; }
    .main-footer.care .footer-nav > .nav > li > a:hover, .main-footer.care .footer-nav > .nav > li > a:focus, .main-footer.care .footer-nav > .nav > li > a:hover:active {
      color: #c95c00;
      background: none; }
