@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,500,700,800&subset=latin-ext');


body {
  font-family: $font-main;
}

@include headings() {
  font-weight: 700;
  font-family: $font-heading;

  &.text-white {
    font-weight: 500;
  }
}

.text-white {
  @include headings() {
    font-weight: 500;
  }
}

h1,
.header-1 {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 60px;

  &.text-white {
    font-weight: 500;
  }
  &.text-uppercase {
    text-transform: uppercase;
  }
  &.main {
    font-size: 50px;
    line-height: 120%;
    @media (max-width: 767px) {
      &.main {
        font-size: 36px;
      }
    }
  }
  span {
    font-weight: 100;
  }
}

h2,
.header-2 {
  font-size: 30px;
  margin-bottom: 40px;
  //padding-top: 60px;
  margin-top: 0;
  &.text-white {
    font-weight: 500;
  }
  &.text-uppercase {
    text-transform: uppercase;
  }
  &.text-underline {
    padding-bottom: 20px;
    border-bottom: 2px solid $color-main;
  }
  span {
    font-weight: 100;
  }
}


h3,
.header-3 {
  font-size: 15px;

  &.text-white {
    font-weight: 500;
  }
}

.big-text {
  font-size: 20px;
  font-family: $font-heading;
  font-weight: 600;
}


.text-white {
  color: #fff!important;
}

